.cardContainer {
  width: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 17px -11px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 17px -11px rgba(0, 0, 0, 0.58);

  img {
    width: 20px;
  }

  p {
    margin-top: 10px;
    text-align: center;
  }
}
