.container {
  height: 85vh;
  display: flex;
  padding: 20px 20px 0 20px;
  margin-bottom: 7px;

  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        padding: 15px;
        background: darkblue;
        color: white;
        border-radius: 10px;
        font-weight: bold;
        border: none;
        letter-spacing: 2px;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;

      .phone {
        color: #f0667d;
        font-weight: bold;
      }
      .contactText {
        color: gray;
      }
    }

    h1 {
      font-size: 60px;
      width: 50%;
    }
    .desc {
      width: 50%;
      font-size: 20px;
      margin: 20px 0;
    }
  }
  .right {
    width: 40%;

    img {
      height: 81vh;
      width: 39vw;
      position: absolute;
      bottom: 0;
    }
  }
  .introShape {
    clip-path: polygon(67% 0, 100% 0%, 100% 100%, 55% 100%);
    background: crimson;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
}
